
.animate-mixin(@dura1: 1s, @dura2: 0.5s){
  -webkit-animation-duration: @dura1;
  -webkit-animation-delay: @dura2;
  -moz-animation-duration: @dura1;
  -moz-animation-delay:@dura2;
}

.content-ani-mixin(){
    .animate-mixin(0.75s, 0s);
}


.trigger__info--arrow{
    .animate-mixin(0.5s, 0.5s);
}

.social-ic{
    .animate-mixin(1s, 0.5s);
}
//content
.intro-self{
    .content-ani-mixin;
}
.about-me{
    .content-ani-mixin;
}
.work-ex{
    .content-ani-mixin;
}





