
.animate-mixin(@dura1: 1s, @dura2: 0.5s){
  -webkit-animation-duration: @dura1;
  -webkit-animation-delay: @dura2;
  -moz-animation-duration: @dura1;
  -moz-animation-delay:@dura2;
}

.trigger__info--arrow{
    .animate-mixin(0.5s, 0.5s);
}

.social-ic{
    .animate-mixin(1s, 0.5s);
}

.intro-self{
    .animate-mixin(0.75s, 0s);
}

