@import "bower_components/bootstrap/less/bootstrap.less";
// overrides here
@primary: #000;

body{
    background-color: @primary;
}
h2{
    background-color: green;
}
// Use as-is
.masthead {
  background-color: @brand-primary;
}
// ...