@font-face {

  font-family: 'Raleway';
  font-weight: normal;
  font-style: normal;

  src: url('public/fonts/raleway/raleway-regular-webfont.eot');
  src: url('public/fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
  url('public/fonts/raleway/raleway-regular-webfont.woff') format('woff'),
  url('public/fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
  url('public/fonts/raleway/raleway-regular-webfont.svg#Raleway') format('svg');
}

body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
  overflow-x: hidden;

}
/*HEADER*/
.header-template {
  padding: 40px 15px;
  text-align: center;
  margin-top: 0px;
  color:white;
}

.header-lead{
  padding: 40px 15px;
  text-align: center;
  margin-top: 0px;
  color:white;
}


.b-header.page-header{
    top: 0;
    left: 0;
    width: 100%;
    background:black;
    height: 400px;
    margin-top: 0px;
    background-image: url(img/moutain-bg.jpg);
    background-position:center;

}


/*section (container)*/
h1,
h2,
h3 {
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin-top: 0px;
}

.starter-template h1{
  font-weight: 400;
  font-size: 31px;
}

.starter-template h2{
  padding-top: 20px;
  font-weight: 100;
  font-size: 21px;
  letter-spacing: 2px;
}


.tail-template{
  padding: 20px 0px 40px 0px;
}

.tail-template p{
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;
}

.drawing-space{
   border: 4px solid black;
   padding: 50px;
   margin-bottom: 50px;
   width: 100%;
   height: 400px;
}




.img-social:hover {
  opacity:0.5;
}
.grayscale {-webkit-filter: grayscale(100%)}
/*.drawing-space:hover {
  color: white; background-color: black; text-shadow: none;
}*/