.done-true {
  text-decoration: line-through;
  color: grey;
}

body {
  font-family: Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding-top: 0px;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin-top: 0px;
}
.header-template {
  padding: 40px 15px;
  text-align: center;
  margin-top: 0px;
}


.header-template {
  padding: 40px 15px;
  text-align: center;
  margin-top: 0px;
  color:white;
}

.lead.header-lead{
  padding: 40px 15px;
  text-align: center;
  margin-top: 0px;
  color:white;
}



.b-header.page-header{
    top: 0;
    left: 0;
    width: 100%;
    /*background: #fe504f; RED COLOR*/
    /*background: #525355;*/
    background:black;
    height: 400px;
    margin-top: 0px;

}

